body {
background: black;
}

h1{
font-size: 300px;
text-align: center;
justify-content: center;
color: white; 
}

p{
font-size: 150px;
text-align: center;
justify-content: center;
color: white;
}

